.about {
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 30%;
    color: #333;
}

.about > img {
    width: 35%;
    height: 370px;
    object-fit: cover;
}

.about .hey {
    margin-top: 35px;
    font-size: 3rem;
    font-weight: bold; 
}

.about .socials a {
    display: inline;
    padding-right: 10px;
}

.about .socials a i {
    font-size: 1.7rem;
    color: #c2c2c2;
}

.about .socials a i:hover {
    color: #76dbc9;
}

